@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    html {
      background-color: hsl(207, 26%, 17%);
    }
  }

  @media (prefers-color-scheme: light) {
    html {
      background-color: hsl(0, 0%, 100%);
    }
  }

  html {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
  }
}

/* 
.grid-container {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 4rem;
  justify-content: center;
} */

.custom-grid-row {
  grid-row: 1 / 5;
}

/* @media (min-width: 1097px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */

@media (min-width: 1280px) {
  .custom-grid {
    grid-template-columns: 500px 500px 1fr;
  }

  /* .xl\:grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */

  .country-about-grid {
    display: grid;
    grid-template-columns: repeat(5, 200px);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  justify-content: center;
}

@media screen and (min-width: 1100px) and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1099px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
